body {
  background-color: #1c1c1c;
  color: #bbb;
}

#album-list-view {
  background-color: #161616;
}

#album-list {
  background-color: #1c1c1c;
}

#album-list {
  border-left-color: #2a2a2a;
}

#album-view .track-list {
  background-color: #161616;
  border-left-color: #2a2a2a;
  border-top-color: #2a2a2a;
}

.track .artist {
  color: #666;
}

.track-number {
  color: #666;
}

.duration {
  color: #484848;
}

/* TODO Make separate span for details. */
#album-view .album-info h2 {
  color: #777;
}

#album-view .album-info h1 {
  color: #ddd;
}

#album-view .album-info h2 .artist {
  color: #ccc;
}

button::before {
  color: #666;
}

#album-view .cover {
    box-shadow: 0.0 0.3rem 1.2rem rgba(0, 0, 0, 0.2);
}

#album-view .cover img.backdrop {
  filter: blur(1.2rem);
  opacity: 0.4;
  mix-blend-mode: color;
}

#statusbar {
  background-color: rgba(22, 22, 22, 0.92);
  border-top-color: rgba(255, 255, 255, 0.1);
}

#statusbar.up {
  background-color: #161616;
}

#statusbar .artist {
  color: #999;
}
