@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800,900');

*
{
  margin: 0;
  padding: 0;
  /* This is more like a traditional application than a website, so I'll go with
   * the default cursor, not a pointer. */
  cursor: default;
}

*:focus
{
  /* Remove blue border on input elements. */
  outline: none;
}

html
{
  font-size: 16px;
  font-family: 'Work Sans';
  line-height: 1.5em;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.00)  0%,
    rgba(0, 0, 0, 0.02) 90%
  );
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}

body {
  color: black;
  display: grid;

  /* NOTE: The 100vh unit has a peculiar behavior on Chrome: it refers to the
   * minimal viewport height; the size of the viewport when the address bar is
   * visible. But when the address bar is hidden, we get this extra area below
   * the viewport. Setting 'position' to 'fixed' changes this behavior so 100vh
   * always refers to the current viewport height. */
  position: fixed;
  width: 100vw;
  height: 100vh;

  grid-template-columns: auto;
  grid-template-rows: auto 5em;
  grid-template-areas:
    "content"
    "statusbar"
  ;
}

.pane {
  grid-area: content;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 1.0;
  transform-origin: center;
  /* background-color: #fff; */
  transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
}

.pane.in {
  transform: scale(0.91);
  opacity: 0.0;
}

.pane.out {
  transform: scale(1.1);
  opacity: 0.0;
}

.pane.inactive {
  display: none !important;
}

#browser {
  display: grid;
  overflow: hidden;
  height: 100%;

  /* At the narrowest viewports, we show one pane, but the browser itself is
   * wider than that. We use translation to determine which pane is visible. */
  width: 200vw;
  grid-template-columns: 100vw 100vw;
  grid-template-rows: auto;
  grid-template-areas:
    "album-list album-view"
  ;

  transition: transform 0.15s ease-in-out;
}

#browser.nav-album-list-view {
  transform: translateX(0);
}

#browser.nav-album-view {
  /* Slide 1 viewport to the left, so the album view is at x=0. */
  transform: translateX(-100vw);
}

#album-list-view {
  grid-area: album-list;
  overflow-y: scroll;
  background-color: #fefefe;
  border-right: solid 1pt #eee;
}

#album-view {
  grid-area: album-view;
  overflow-y: scroll;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "album-info"
    "track-list"
  ;
}

#statusbar {
  grid-area: statusbar;
}

a
{
  color: inherit;
  text-decoration: none;
}

/* Initial loading animation. */

#loader
{
  position: absolute;
  top: 50%;
  left: 50%;
}

#loader > p
{
  margin-left: -5em;
  width: 10em;
  text-align: center;
  margin-top: 2rem;
  font-size: 0.8em;
  color: #aaa;
}

.spinner > div
{
  position: absolute;
  margin-left: -1.3em;
  margin-top: -1.3em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 0.3em solid;
  border-color: #ccc transparent transparent transparent;
  animation: spinner 1.4s cubic-bezier(0.6, 0, 0.4, 1) infinite;
}

.spinner > div:nth-child(2)
{
  animation-delay: 0.7s;
}

@keyframes spinner
{
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

button {
  font-family: inherit;
  font-size: inherit;
  color: #888;
  background-color: transparent;
  border: none;
}

ul
{
  list-style-type: none;
}

#album-list
{
  padding-bottom: 1em;
  position: relative;
}

#album-list li
{
  cursor: default;
  position: absolute;
  width: 100%;
}

.album, .track
{
  padding-top: 1em;
  display: grid;
  padding-left: 1em;
  padding-right: 1em;
  grid-column-gap: 0.75em;
  grid-template-columns: 3em 1fr;
  grid-template-rows: 1.5em 1.5em;
  grid-template-areas:
    "number   title"
    "duration artist"
  ;
}

/* Leave some whitespace between tracks on different disks. */
.disc + .disc {
  margin-top: 2.5rem;
}

img.thumb
{
  width: 3em;
  height: 3em;
  /* On a slow network, or when scrolling quickly, the thumbs can take some time
   * to load. By adding a background color, we get a grey square that acts as a
   * placeholder for the real album art. */
  background-color: #f8f8f8;
}

.title, #album-list .artist, .track-list .artist
{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title { grid-area: title }
.artist { grid-area: artist }

.album .title
{
  font-weight: 600;
}

.album .date
{
  padding-left: 0.2em;
  color: #ccc;
}

.track-list
{
  grid-area: track-list;

  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5rem;
  background-color: #fdfdfd;
  border-top: 0.8pt solid #eee;
}

.track-list .track
{
  padding-top: 0.5em;
}

.duration, .track-number
{
  text-align: right;
  padding-right: 0.25em;
  color: #ccc;
}

.track-number
{
  grid-area: number;
  font-weight: 700;
  transition: color 0.2s ease-in-out;
}

.duration
{
  grid-area: duration;
  font-size: 0.75rem;
}

.track .artist
{
  font-size: 0.75rem;
  color: #aaa;
}

.track-number::before
{
  /* NOTE: Could use svg background images with icons in the future. */
  content: '• ';
  color: transparent;
  transition: color 0.3s ease-in-out;
}

.queueing .track-number, .queueing .track-number::before
{
  color: #ccc;
}

.queued .track-number, .queued .track-number::before
{
  color: #999;
}

#search
{
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

#search-query
{
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.92);
  border-bottom: 0.8pt solid #eee;
  backdrop-filter: blur(2pt) brightness(110%);
}

#search-box
{
  font: inherit;
  border: none;
  width: 100%;
  background: transparent;
}

#search-results
{
  display: none;
  padding-bottom: 1em;
  top: 2em;
  overflow-y: auto;
}

#search-results h2
{
  font-variant-caps: all-small-caps;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-size: 1em;
  margin: 0.5em;
  margin-left: 1em;
  color: #ccc;
}

#search-artists li
{
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
}

#search-artists .name
{
  display: inline;
}

#search-artists .discography
{
  display: inline;
  margin-left: 1em;
  top: 0.3em;
  position: relative;
}

#search-artists .discography img
{
  height: 1.5em;
  margin-top: 0.2em;
  margin-right: 0.2em;
}

/* Hide the album list while searching, but do not set it to "display: none".
 * This avoids style recalculations, and preserves the scroll position. */
.searching #album-list { visibility: hidden }
.searching #search-results { display: block }
.searching #search { height: 100vh }

.album-info {
  grid-area: album-info;
  padding: 1em;
}

#album-view .cover {
  width: calc(100% - 7.5em);
  margin: 3.75em;
  position: relative;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  /* TODO: This no longer applies when we have a max-width.
   * But do we really *need* covers to be square? */
  /* Hack: the cover should be square, but there is no direct way in css to say
   * "the height should be equal to the width". We can abuse the fact that a
   * padding percentage is part of the width instead. */
  /* padding-bottom: calc(100% - 7.5em); */
  /* height: 0; */
}

#album-view .cover img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  border-radius: 0.15rem;
}

#album-view .cover img.lowres {
  /* Like in the album list view, add a background color that acts as a
   * placeholder, to show a square when the page is still loading. This does not
   * block the backdrop, because that one uses the same source, so both should
   * load at the same time. */
  background-color: #f8f8f8;
}

#album-view .cover img.backdrop {
  /* This one is first, so absolute vs relative does not matter so much, except
   * that relative ensures the parent is at least this tall. */
  position: relative;
  filter: contrast(0.8) saturate(1.5) brightness(0.9) blur(1.2rem);
  opacity: 0.4;
  transform: translateY(0.3rem);

  /* Here we need to undo the 100% hack, due to the relative positioning. */
  height: auto;
}

#album-view hgroup, #album-view .album-actions {
  margin-left: 3rem;
  margin-right: 3rem;
}

.album-info h1 {
  font-weight: 600;
  font-size: 1.7em;
  line-height: 1.1em;
  margin-top:  6rem;
  margin-left: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-info h2 {
  font-weight: 400;
  font-size: 1em;
  margin-top: 0.5rem;
  margin-left: 0.75rem;
  color: #bbb;
  word-spacing: 0.2em;
}

.album-info h2 .artist {
  color: black;
  word-spacing: 0;
}

#album-view .album-actions {
  padding-top: 1rem;
}

.album-info button {
  color: #888;
  display: block;
  position: relative;
  padding-left: 0.75rem;
  padding-top: 1rem;
}

button::before {
  color: #ccc;
  width: 1em;
  left: -0.75rem;
  position: absolute;
  font-weight: 700;
}

button.enqueue::before {
  content: "↳";
}

button.play-next::before {
  content: "↱";
}

#statusbar {
  border-top: 0.8pt solid rgba(0, 0, 0, 0.065);
  background-color: rgba(252, 251, 251, 0.92);
  backdrop-filter: blur(3pt) brightness(110%);
}

#statusbar .current-track {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 1.0;
  transition: opacity 0.15s ease-in-out;
}

#statusbar .current-track.fade-in {
  opacity: 0.0;
}

#statusbar .current-track.fade-out {
  opacity: 0.0;
}

#statusbar .progress {
  position: absolute;
  top: -1.2pt;
  height: 1.6pt;
  width: 100%;
  background: linear-gradient(
    90deg,
    #eee 0% 33%,
    #ccc 93%,
    #bbb 100%
  );
}

#statusbar .track-info {
  padding: 1rem;
  display: grid;
  grid-column-gap: 0.75em;
  grid-template-columns: 3em 1fr;
  grid-template-rows: 1.5em 1.5em;
  grid-template-areas:
    "thumb title"
    "thumb artist"
  ;
  transition: transform 0.15s ease-in-out;
  transform: translateX(0);
}

#statusbar .current-track.fade-in .track-info {
  transform: translateX(1em);
}

#statusbar .current-track.fade-out .track-info {
  transform: translateX(-1em);
}

#statusbar .artist {
  font-size: 0.75rem;
  color: #777;
}

#now-playing-pane {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 3em;
  grid-template-areas:
    "album-info"
    "volume-controls"
  ;
}

.volume-controls {
  grid-area: volume-controls;
  display: grid;
  grid-template-columns: 3em auto 3em;
  grid-template-rows: auto;
  grid-template-areas:
    "volume-down volume-bar volume-up"
  ;
}

.volume-controls button {
  width: 3em;
}

button.volume-down { grid-area: volume-down; }
button.volume-up { grid-area: volume-up; }

.volume-controls .indicator {
  margin-top: calc(1.5em - 1pt);
  height: 2pt;
  background-color: #f7f7f7;
}

.volume-controls .indicator > div {
  position: relative;
  width: 50%;
  height: 2pt;
  background: linear-gradient(
    90deg,
    #ddd 0%,
    #ccc 100%
  );
}

.volume-controls .volume-label {
  position: absolute;
  top: -2rem;
  right: -2rem;
  width: 4rem;
  text-align: center;
  color: #bbb;
}

/* At 40rem width, we can show the album list side-by-side with a different
 * view. */
@media (min-width: 40rem) {
  #browser {
    width: 100vw;
    grid-template-columns: 30vw 70vw;
  }

  /* When both columns are visible at once, no translation is needed. */
  #browser.nav-album-view {
    transform: translateX(0);
  }
}

/* At 60rem width, we put the track list to the right of the album info, instead
 * of below the album info. */
@media (min-width: 60rem) {
  #browser {
    /* Keep the album list at a fixed width, it does not need to be very wide,
     * we rather add whitespace elsewhere. */
    grid-template-columns: 20rem auto;
  }

  #album-view {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "album-info track-list"
    ;
  }

  #album-view .cover {
    max-width: none;
  }

  .album-info h1 {
    /* When the cover could be centered above the title, we need plenty of
     * whitespace to not make it look weird, but when it is aligned to the
     * borders, we can do with less. */
    margin-top: 0;
  }

  .track-list {
    margin-top: 0;
    padding-top: 4rem;
    padding-left: 1rem;
    padding-bottom: 2.5rem;
    border-top: none;
    border-left: 0.8pt solid #eee;
  }
}

/* At this width, we can devote a bit more space to th album list, and we set a
 * limit on the width of the album info column. */
@media (min-width: 90rem) {
  #browser {
    grid-template-columns: 25rem auto;
  }
  #album-view {
    grid-template-columns: 2fr 35rem 35rem 3fr;
    grid-template-areas:
      "pad-left album-info track-list track-list"
    ;
  }
}
