@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800,900');

*
{
  margin: 0;
  padding: 0;
}

html
{
  font-size: 18px;
  font-family: 'Work Sans';
  line-height: 1.3em;
}

body
{
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4.9em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: black;
}

h1, h2, h3, h4, h5, h6
{
  font-size: 1em;
  font-weight: normal;
}

a
{
  color: inherit;
  text-decoration: none;
}

.album
{
  padding: 0.5em;
  padding-left: 1em;
}

.album h2
{
  font-weight: 700;
}

.date
{
  color: #bbb;
}

.album img
{
  position: absolute;
  width: 3.9em;
  height: 3.9em;
  margin-left: -4.9em;
}
